Flask
python-dotenv
youtube-transcript-api
langchain
langchain-community
langchain-google-genai # dependency for Gemini integration
google-generativeai # dependency for Gemini integration
chromadb
faiss-cpu
