<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Doubt Clarifier - Chat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="static/styles/style.css">
</head>
<body>
  
    <div class="chat-container">

         <div class="chat-header">
            <h2>YouTube Learning Assistant <span id="video-title"></span></h2>
            <div id="video-thumbnail-container">
                <!-- YouTube Thumbnail will be inserted here by JavaScript -->
            </div>
    
        </div>
        <div class="chat-messages" id="chat-messages">
            <!-- Messages will be appended here by JavaScript -->
        
        </div>
        
        <div class="chat-input-area">
            <form method="POST" class="chat-form" action="/ask_question" id="form">
                <textarea id="question" name="question" placeholder="Ask your question here..." required></textarea>
                <button type="submit" id="chat-btn" onclick="send_data()">Ask</button>
            </form>
        </div>

        <div class="loading-spinner" id="loading-spinner"></div>
    </div>
    <script>
      function form_handler(event){

        event.preventDefault();   // don't submit the form normally prevents form going to next event
      }

      function send_data(){

        document.getElementById('form').addEventListener('submit',form_handler);

        //sending our data to ask_question

        var fd = new FormData(document.querySelector('form'));
        var xhr = new XMLHttpRequest();
        xhr.open('POST','/ask_question',true);

        document.getElementById('chat-messages').innerHTML='Waiting For AI Response....';

        xhr.onreadystatechange = function() {
          if(xhr.readyState == XMLHttpRequest.DONE){
            document.getElementById('chat-messages').innerHTML='<b>AI Response:</b> '+xhr.responseText;  
          }
        };

        xhr.onload = function(){};
        xhr.send(fd);

      }

    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
