<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter YouTube Link</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles/style.css">

</head>
<body>
    <div class="container">
        <h1>YouTube Learning Assistant</h1>
        <p>Please enter the YouTube video link you want to discuss.</p>
        <form id="link-form" id="index-form" action="/chat" method="post">
            <input type="url" id="youtube-link-input" name="youtube_link" 
                   placeholder="e.g., https://www.youtube.com/watch?v=dQw4w9WgXcQ" required>
            <button type="submit" id="index-btn">Start Chat</button>
        </form>
    </div>
</body>
</html>
